<h1>Here Cities will Land</h1>
  <script>
     function function1(){
         
         
     }
  </script>

        <select onclick="function1()">
   <% states.forEach(function(state){ %>
<option name="state" value="<%= state %>" > <%=state %> </option>
        <% }); %>
        </select>