<% include partials/header %>
<div class="container">
<br/>
<br/>
<br/>
<br/>

  <br>
  <br>
        <div class="container-fluid" >   
     <span class="border border-white">   <strong><h1 class="display-1 text-center">Welcome to Bon Appétit!</h1></strong></span><br>
        <h3 class="text-center"><caption>The ultimate place for foodies.</caption></h3>
        </div>
   </div>


<% include partials/footer %>